<launch>
  <arg name="model" default="$(find sim_ajk)/sim_ajk.urdf"/>
   
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
   
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sim_ajk)/world/ground.world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
 
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
   
  <include file="$(find sim_ajk)/launch/control.launch"/>
   
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model sim_ajk -param robot_description"/>

  <node pkg="tf" type="static_transform_publisher" name="static_world_to_odom_publisher" args="0 0 0 0 0 0 /world /odom 100"/>
  <node pkg="sim_ajk" type="imu_dummy.py" name="imu_dummy" output="screen"/>
  <node pkg="sim_ajk" type="gnss_dummy.py" name="gnss_dummy" output="screen"/>
  <node pkg="sim_ajk" type="gnss_odom.py" name="gnss_odom" output="screen"/> 
</launch>
