[Unit]
Description=qgc_param_command launcher
After=roscore.service
Requires=roscore.service

[Service]
User=rosusb
ExecStartPre=/bin/bash -l -c 'rostopic list'
ExecStart=/usr/bin/screen -S qgc_param_command -ADm bash -l -c 'roslaunch mavlink_ajk qgc_param_command.launch'
Type=simple
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
