[Unit]
Description=ip checker
After=networking.service
Requires=networking.service

[Service]
User=ubuntu
ExecStart=/usr/bin/screen -S ip-checker -ADm bash -l -c 'python ~/catkin_ajk/service/ip_checker.py'
Type=simple
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
