[Unit]
Description=sanyokiki launcher
After=roscore.service
Requires=roscore.service

[Service]
User=ubuntu
ExecStartPre=/bin/bash -l -c 'rostopic list'
ExecStart=/usr/bin/screen -S sanyokiki -ADm bash -l -c 'roslaunch sanyokiki ajk.launch'
Type=simple
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
