<launch>

  <!-- Run Bosch BNO055 IMU -->
  <arg name="bosch_config_file" default="$(find bosch_imu_driver)/config/imu_bosch_jetson.yaml"/> 
  <node pkg="bosch_imu_driver" type="bosch_imu_node.py" name="bosch_imu_node" output="screen">
    <rosparam file="$(arg bosch_config_file)" command="load"/>
  </node>

  <!-- IMU Bosh transformation publisher -->
  <node name="base_link_to_imu_bosch" 
  pkg="tf2_ros" type="static_transform_publisher" 
  args="0.0 0.0 0.0 0.0 0.0 1.0 base_link imu_bosch_link" >
  </node>

  <node pkg="ubx_analyzer" type="pvthp.py" name="pvthp" output="screen">
  </node>
</launch>


