<launch>
  <node pkg="human_detection" type="darknet_human_detection.py" name="darknet_human_detection" output="screen">
  </node>
  <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node" output="screen">
  </node>
  <include file="$(find darknet_ros)/launch/darknet_ros_webcam.launch" />

</launch>
